# MySQL
MYSQL_HOST=cmtrading-replica-db.cllx9icdmhvp.eu-west-1.rds.amazonaws.com
MYSQL_PORT=3306
MYSQL_USER=db_readonly
MYSQL_PASSWORD=your_mysql_password
MYSQL_DB=your_mysql_database

# MSSQL
MSSQL_HOST=cmtmainserver.database.windows.net
MSSQL_PORT=1433
MSSQL_USER=clawreadonly
MSSQL_PASSWORD=your_mssql_password
MSSQL_DB=master

# PostgreSQL (local)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=datawarehouse
